<form form action="/calculate" method="post">
  <fieldset name="auth" class="column">
    <legend>Login</legend>
    <label> name<input name="login" type="text" /> </label>
    <label> password <input name="password" type="password" /> </label> <input type="submit" />
  </fieldset>
</form>
