<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Remote Viewer</title>
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <main class="error">
      <h1><%= reason %></h1>
      <a href="/" class="ref">Go Back</a>
    </main>
  </body>
</html>
