<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Biorhytm Calculator</title>
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript" src="./public/client_js/main.js"></script>
  </head>
  <body>
    <nav>
      <% routes.home.forEach(r => { %>
      <a href="<%- r.route %>" name="<%- r.label %>">
        <%- r.label %>
      </a>
      <%}); %>
    </nav>
    <h1>Calculate biorhytms</h1>
    <div class="home">
      <% if(isLoading){ %> <%- include('partials/loading') %> <% } %>
    </div>
  </body>
</html>
